
.timer{
    font-size: 120px;
    font-weight: 800;
    color: #FD8C06;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.timer-green{
    color: #369188;
}

@media (max-width: 370px) {
  .timer {
    font-size: 100px;
  }
}
